SMUtBank_IBS/src/wsdl/Account_Loan.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://com/smubank/account/loan" xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:ns4="http://com/smubank/account/loan/create" xmlns:ns3="http://com/smubank/account/loan/update" xmlns:tns="http://smubank.smu.edu.sg/Account/Loan" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/Account/Loan">
    <wsdl:types>
        <xsd:schema xmlns:hxt="http://com/smubank/account/loan/update" xmlns="http://com/smubank/account/loan/update" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/smubank/account/loan/update" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:annotation>
                <xsd:documentation>BOMORIGIN::platform:/resource/test/Business%20Objects/BusinessObjectModel.bom#_3MonEP3WEeGxCID84adpgg</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="LendingAccount">
                <xsd:sequence>
                    <xsd:element name="loanaccount" type="hxt:LoanAccount"/>
                    <xsd:element name="maintenancehistory" type="hxt:MaintenanceHistory"/>
                    <xsd:element name="currentStatus">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="interestRate" default="0.0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="accountID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="assignedAccountForAccountManagementFeeDeduction" default="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="maturityDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:date"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="narrative">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isServiceChargeWaived" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LoanAccount">
                <xsd:sequence>
                    <xsd:element name="loanClosureDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="loanClosureReason">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="penaltyRateBasis">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="repaymentGraceDay" default="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="repricingDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="rescheduleOption">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="writeOffAmount" default="0.0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="writeOffDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="writeOffFlag" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="fixedTerm" default="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="repaymentMode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="pledgeOrStopPaymentAmount" default="0.0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="title">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isInterestWaived" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MaintenanceHistory">
                <xsd:sequence>
                    <xsd:element name="lastTransactionBranch">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="250"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="lastMaintenanceOfficer">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xsd:schema xmlns:hxt="http://com/smubank/account/loan/create" xmlns="http://com/smubank/account/loan/create" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/smubank/account/loan/create" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:annotation>
                <xsd:documentation>BOMORIGIN::platform:/resource/test/Business%20Objects/BusinessObjectModel.bom#_3MonEP3WEeGxCID84adpgg</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="LendingAccount">
                <xsd:sequence>
                    <xsd:element name="product" type="hxt:Product"/>
                    <xsd:element name="loanaccount" type="hxt:LoanAccount"/>
                    <xsd:element name="maintenancehistory" type="hxt:MaintenanceHistory"/>
                    <xsd:element name="customerID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="currency">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="homeBranch">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="officerID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="accountOpenDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="balance">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="currentStatus">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="interestRate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="assignedAccountForAccountManagementFeeDeduction" default="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="narrative">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isServiceChargeWaived" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="penaltyRate" type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LoanAccount">
                <xsd:sequence>
                    <xsd:element name="loanPurpose" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="loanTerm" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ltvRatio" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="penaltyRateBasis" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="repaymentGraceDay" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="applicationID" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="assetValue" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="fixedTerm" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="letterOfOfferDate" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="repaymentMode" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="title">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isInterestWaived" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MaintenanceHistory">
                <xsd:sequence>
                    <xsd:element name="lastTransactionBranch">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="250"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="lastMaintenanceOfficer">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Product">
                <xsd:sequence>
                    <xsd:element name="productID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="productName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="dateBasisForRate" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="rateChartCode" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="compoundInterestRateBasis" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
        <xsd:schema xmlns:hxt="http://com/smubank/account/loan" xmlns="http://com/smubank/account/loan" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/smubank/account/loan" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:annotation>
                <xsd:documentation>BOMORIGIN::platform:/resource/test/Business%20Objects/BusinessObjectModel.bom#_3MonEP3WEeGxCID84adpgg</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="LendingAccount">
                <xsd:sequence>
                    <xsd:element name="product" type="hxt:Product"/>
                    <xsd:element name="loanaccount" type="hxt:LoanAccount"/>
                    <xsd:element name="maintenancehistory" type="hxt:MaintenanceHistory"/>
                    <xsd:element name="customerID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="currency">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="homeBranch">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="officerID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="accountOpenDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="balance">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="currentStatus">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="interestRate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="assignedAccountForAccountManagementFeeDeduction">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="maturityDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="narrative">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isServiceChargeWaived" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="penaltyRate" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LoanAccount">
                <xsd:sequence>
                    <xsd:element name="loanPurpose">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="loanTerm">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ltvRatio">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="disburseAmount">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="loanClosureDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="loanClosureReason">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="penaltyRateBasis">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="repaymentGraceDay">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="repricingDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="rescheduleOption">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="writeOffAmount">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="writeOffDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="writeOffFlag">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="agreementNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="agreementSignDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="applicationID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="assetValue">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="fixedTerm">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="letterOfOfferDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="repaymentMode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="pledgeOrStopPaymentAmount">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="title">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isInterestWaived" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="installmentAmount" default="0.0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MaintenanceHistory">
                <xsd:sequence>
                    <xsd:element name="lastTransactionBranch">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="lastMaintenanceOfficer">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Product">
                <xsd:sequence>
                    <xsd:element name="productID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="productName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="dateBasisForRate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="rateChartCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="compoundInterestRateBasis">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="Account_Loan">
        <wsdl:port name="Account_Loan_JMSEndpoint" binding="tns:Account_Loan_JMSEndpointBinding">
            <soap:address location=""/>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">account.endpoint</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="Account_Loan_HTTPEndpoint" binding="tns:Account_Loan_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Account_Loan.serviceagent/Account_Loan_HTTPEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Account_Loan">
        <wsdl:operation name="Account_Loan_Read">
            <wsdl:input message="tns:Account_Loan_Read-Input"/>
            <wsdl:output message="tns:Account_Loan_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Account_Loan_Update">
            <wsdl:input message="tns:Account_Loan_Update-Input"/>
            <wsdl:output message="tns:Account_Loan_Update-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Account_Loan_Create">
            <wsdl:input message="tns:Account_Loan_Create-Input"/>
            <wsdl:output message="tns:Account_Loan_Create-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Account_Loan_JMSEndpointBinding" type="tns:Account_Loan">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Account_Loan_Read">
            <soap:operation style="rpc" soapAction="/Account_Loan.serviceagent/Account_Loan_JMSEndpoint/Account_Loan_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader accountID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader LendingAccount SettlementAccount"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Account_Loan_Update">
            <soap:operation style="rpc" soapAction="/Account_Loan.serviceagent/Account_Loan_JMSEndpoint/Account_Loan_Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader LendingAccount SettlementAccount"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Account_Loan_Create">
            <soap:operation style="rpc" soapAction="/Account_Loan.serviceagent/Account_Loan_JMSEndpoint/Account_Loan_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader LendingAccount SettlementAccount"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader accountID"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Account_Loan_HTTPEndpointBinding" type="tns:Account_Loan">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Account_Loan_Read">
            <soap:operation style="rpc" soapAction="/Account_Loan.serviceagent/Account_Loan_HTTPEndpoint/Account_Loan_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader accountID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader LendingAccount SettlementAccount"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Account_Loan_Update">
            <soap:operation style="rpc" soapAction="/Account_Loan.serviceagent/Account_Loan_HTTPEndpoint/Account_Loan_Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader LendingAccount SettlementAccount"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Account_Loan_Create">
            <soap:operation style="rpc" soapAction="/Account_Loan.serviceagent/Account_Loan_HTTPEndpoint/Account_Loan_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader LendingAccount SettlementAccount"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader accountID"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Account_Loan_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="accountID" type="xs:int"/>
    </wsdl:message>
    <wsdl:message name="Account_Loan_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="LendingAccount" type="ns2:LendingAccount"/>
        <wsdl:part name="SettlementAccount" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Account_Loan_Update-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="LendingAccount" type="ns3:LendingAccount"/>
        <wsdl:part name="SettlementAccount" type="xs:int"/>
    </wsdl:message>
    <wsdl:message name="Account_Loan_Update-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
    </wsdl:message>
    <wsdl:message name="Account_Loan_Create-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="LendingAccount" type="ns4:LendingAccount"/>
        <wsdl:part name="SettlementAccount" type="xs:int"/>
    </wsdl:message>
    <wsdl:message name="Account_Loan_Create-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="accountID" type="xs:string"/>
    </wsdl:message>
</wsdl:definitions>