SMUtBank_IBS/src/wsdl/BPM_Connector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:ns1="http://smubank.smu.edu.sg/schemas/Trade_DocumentList" xmlns:tns="http://smubank.smu.edu.sg/BPM/Connector" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/BPM/Connector">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns2:GlobalErrorID"/>
                    <xs:element ref="ns2:ErrorText"/>
                    <xs:element ref="ns2:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/Trade_DocumentList" targetNamespace="http://smubank.smu.edu.sg/schemas/Trade_DocumentList" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="Document">
                <xs:sequence>
                    <xs:element ref="ns1:Document_Name"/>
                    <xs:element ref="ns1:Document_Type"/>
                    <xs:element ref="ns1:URL"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Trade_DocumentList">
                <xs:sequence>
                    <xs:element ref="ns1:PartyID"/>
                    <xs:element ref="ns1:Ref_Num"/>
                    <xs:element name="Trade_Document" type="ns1:Document" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Document_Name" type="xs:string"/>
            <xs:element name="Document_Type" type="xs:string"/>
            <xs:element name="PartyID" type="xs:string"/>
            <xs:element name="Ref_Num" type="xs:string"/>
            <xs:element name="URL" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="BPM_Connector">
        <wsdl:port name="BPM_Connector_HTTPEndpoint" binding="tns:BPM_Connector_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/BPM_Connector.serviceagent/BPM_Connector_HTTPEndpoint"/>
        </wsdl:port>
        <wsdl:port name="BPM_Connector_JMSEndpoint" binding="tns:BPM_Connector_JMSEndpointBinding">
            <soap:address location=""/>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">bpm.endpoint</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="BPM_Connector">
        <wsdl:operation name="BPM_LCDocument_Acceptance">
            <wsdl:input message="tns:BPM_LCDocument_Acceptance-Input"/>
            <wsdl:output message="tns:BPM_LCDocument_Acceptance-Output"/>
        </wsdl:operation>
        <wsdl:operation name="BPM_LC_Issue">
            <wsdl:input message="tns:BPM_LC_Issue-Input"/>
            <wsdl:output message="tns:BPM_LC_Issue-Output"/>
        </wsdl:operation>
        <wsdl:operation name="BPM_LCAmendment_Issue">
            <wsdl:input message="tns:BPM_LCAmendment_Issue-Input"/>
            <wsdl:output message="tns:BPM_LCAmendment_Issue-Output"/>
        </wsdl:operation>
        <wsdl:operation name="BPM_LCDocument_Presentation">
            <wsdl:input message="tns:BPM_LCDocument_Presentation-Input"/>
            <wsdl:output message="tns:BPM_LCDocument_Presentation-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BPM_Connector_HTTPEndpointBinding" type="tns:BPM_Connector">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="BPM_LCDocument_Acceptance">
            <soap:operation style="rpc" soapAction="/BPM_Connector.serviceagent/BPM_Connector_HTTPEndpoint/BPM_LCDocument_Acceptance"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader Trade_DocumentList"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BPM_LC_Issue">
            <soap:operation style="rpc" soapAction="/BPM_Connector.serviceagent/BPM_Connector_HTTPEndpoint/BPM_LC_Issue"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader RefNum"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BPM_LCAmendment_Issue">
            <soap:operation style="rpc" soapAction="/BPM_Connector.serviceagent/BPM_Connector_HTTPEndpoint/BPM_LCAmendment_Issue"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader Customer_ID ref_num Start_DateTime End_DateTime"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BPM_LCDocument_Presentation">
            <soap:operation style="rpc" soapAction="/BPM_Connector.serviceagent/BPM_Connector_HTTPEndpoint/BPM_LCDocument_Presentation"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader Trade_DocumentList"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BPM_Connector_JMSEndpointBinding" type="tns:BPM_Connector">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="BPM_LCDocument_Acceptance">
            <soap:operation style="rpc" soapAction="/BPM_Connector.serviceagent/BPM_Connector_JMSEndpoint/BPM_LCDocument_Acceptance"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader Trade_DocumentList"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BPM_LC_Issue">
            <soap:operation style="rpc" soapAction="/BPM_Connector.serviceagent/BPM_Connector_JMSEndpoint/BPM_LC_Issue"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader RefNum"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BPM_LCAmendment_Issue">
            <soap:operation style="rpc" soapAction="/BPM_Connector.serviceagent/BPM_Connector_JMSEndpoint/BPM_LCAmendment_Issue"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader Customer_ID ref_num Start_DateTime End_DateTime"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BPM_LCDocument_Presentation">
            <soap:operation style="rpc" soapAction="/BPM_Connector.serviceagent/BPM_Connector_JMSEndpoint/BPM_LCDocument_Presentation"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader Trade_DocumentList"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="BPM_LCDocument_Acceptance-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="Trade_DocumentList" type="ns1:Trade_DocumentList"/>
    </wsdl:message>
    <wsdl:message name="BPM_LCDocument_Acceptance-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
    </wsdl:message>
    <wsdl:message name="BPM_LC_Issue-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="RefNum" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="BPM_LC_Issue-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
    </wsdl:message>
    <wsdl:message name="BPM_LCAmendment_Issue-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="Customer_ID" type="xs:string"/>
        <wsdl:part name="ref_num" type="xs:string"/>
        <wsdl:part name="Start_DateTime" type="xs:string"/>
        <wsdl:part name="End_DateTime" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="BPM_LCAmendment_Issue-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
    </wsdl:message>
    <wsdl:message name="BPM_LCDocument_Presentation-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="Trade_DocumentList" type="ns1:Trade_DocumentList"/>
    </wsdl:message>
    <wsdl:message name="BPM_LCDocument_Presentation-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
    </wsdl:message>
</wsdl:definitions>