SMUtBank_IBS/src/wsdl/Notification.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:tns="http://smubank.smu.edu.sg/Notification" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/Notification">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Notification">
        <wsdl:port name="Notification_HTTPEndpoint" binding="tns:Notification_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Notification.serviceagent/Notification_HTTPEndpoint"/>
        </wsdl:port>
        <wsdl:port name="Notification_JMSEndpoint" binding="tns:Notification_JMSEndpointBinding">
            <soap:address location=""/>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">notification.endpoint</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Notification">
        <wsdl:operation name="Notification_SMS_Send">
            <wsdl:input message="tns:Notification_SMS_Send-Input"/>
            <wsdl:output message="tns:Notification_SMS_Send-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Notification_Email_Send">
            <wsdl:input message="tns:Notification_Email_Send-Input"/>
            <wsdl:output message="tns:Notification_Email_Send-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Notification_HTTPEndpointBinding" type="tns:Notification">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Notification_SMS_Send">
            <soap:operation style="rpc" soapAction="/Notification.serviceagent/Notification_HTTPEndpoint/Notification_SMS_Send"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader MobileNumber SMSMessage"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Notification_Email_Send">
            <soap:operation style="rpc" soapAction="/Notification.serviceagent/Notification_HTTPEndpoint/Notification_Email_Send"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader EmailAddress EmailSubject EmailBody"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Notification_JMSEndpointBinding" type="tns:Notification">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Notification_SMS_Send">
            <soap:operation style="rpc" soapAction="/Notification.serviceagent/Notification_JMSEndpoint/Notification_SMS_Send"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader MobileNumber SMSMessage"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Notification_Email_Send">
            <soap:operation style="rpc" soapAction="/Notification.serviceagent/Notification_JMSEndpoint/Notification_Email_Send"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader EmailAddress EmailSubject EmailBody"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Notification_SMS_Send-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="MobileNumber" type="xs:string"/>
        <wsdl:part name="SMSMessage" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Notification_SMS_Send-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
    </wsdl:message>
    <wsdl:message name="Notification_Email_Send-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="EmailAddress" type="xs:string"/>
        <wsdl:part name="EmailSubject" type="xs:string"/>
        <wsdl:part name="EmailBody" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Notification_Email_Send-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
    </wsdl:message>
</wsdl:definitions>