SMUtBank_IBS/src/wsdl/Party_Customer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns5="http://smubank.smu.edu.sg/schemas/BillingOrgList" xmlns:ns6="http://com/bom" xmlns:ns7="http://com/bom/party/update" xmlns:ns2="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:ns1="http://com/bom/party/create" xmlns:ns4="http://com/bom/party" xmlns:ns3="http://smubank.smu.edu.sg/schemas/MerchantList" xmlns:tns="http://smubank.smu.edu.sg/Party/Customer" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/Party/Customer">
    <wsdl:types>
        <xsd:schema xmlns="http://com/bom" xmlns:sby="http://com/bom" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/bom" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:annotation>
                <xsd:documentation>BOMORIGIN::platform:/resource/Test2/Business%20Objects/BusinessObjectModel.bom#_K7CaQCwMEeKM6dzvfHKUUw</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element name="maintenancehistory" type="sby:MaintenanceHistory"/>
                    <xsd:element name="accountID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="currency" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="homeBranch" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="hasCard" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="officerID" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="accountOpenDate" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="parentAccountFlag" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="balance" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="currentStatus" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="interestRate" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="productID" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccountList">
                <xsd:sequence>
                    <xsd:element name="account" type="sby:Account" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MaintenanceHistory">
                <xsd:sequence>
                    <xsd:element name="lastTransactionBranch">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="lastMaintenanceOfficer">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns2:GlobalErrorID"/>
                    <xs:element ref="ns2:ErrorText"/>
                    <xs:element ref="ns2:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        </xs:schema>
        <xsd:schema xmlns="http://com/bom/party/update" xmlns:kqa="http://com/bom/party/update" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/bom/party/update" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:annotation>
                <xsd:documentation>BOMORIGIN::/SMUBank CDM/Business Objects/BusinessObjectModel.bom</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="Address">
                <xsd:sequence>
                    <xsd:element name="streetAddress1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="200"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="streetAddress2">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="200"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="city">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="state">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="country">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="postalCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CellPhone">
                <xsd:sequence>
                    <xsd:element name="countryCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="phoneNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="CustmerType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="RETAIL"/>
                    <xsd:enumeration value="CORPORATE"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Customer">
                <xsd:sequence>
                    <xsd:element name="customerID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MaintenaceHistory">
                <xsd:sequence>
                    <xsd:element name="lastMaintenanceTellerId">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="registrationDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Party">
                <xsd:sequence>
                    <xsd:element name="address" type="kqa:Address"/>
                    <xsd:element name="profile" type="kqa:Profile"/>
                    <xsd:element name="customer" type="kqa:Customer"/>
                    <xsd:element name="phone" type="kqa:Phone"/>
                    <xsd:element name="cellphone" type="kqa:CellPhone"/>
                    <xsd:element name="maintenacehistory" type="kqa:MaintenaceHistory"/>
                    <xsd:element name="familyName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="givenName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="taxIdentifier">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="dateOfBirth">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:date"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Phone">
                <xsd:sequence>
                    <xsd:element name="localNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="areaCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="countryCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Profile">
                <xsd:sequence>
                    <xsd:element name="customerType">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="nationality">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="gender">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ethnicGroup">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="occupation">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="registerFund" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="bankID" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="email">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="fax">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isBillingOrg" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isMerchant" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/BillingOrgList" targetNamespace="http://smubank.smu.edu.sg/schemas/BillingOrgList" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="BillingOrgList">
                <xs:sequence>
                    <xs:element name="BillingOrg" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="ns5:BillingOrgName"/>
                                <xs:element ref="ns5:AccountID"/>
                                <xs:element ref="ns5:BeneficiaryID"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AccountID" type="xs:string"/>
            <xs:element name="BeneficiaryID" type="xs:string"/>
            <xs:element name="BillingOrgName" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/MerchantList" targetNamespace="http://smubank.smu.edu.sg/schemas/MerchantList" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="MerchantList">
                <xs:sequence>
                    <xs:element name="Merchant" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="ns3:MerchantName"/>
                                <xs:element ref="ns3:AccountID"/>
                                <xs:element ref="ns3:BeneficiaryID"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AccountID" type="xs:string"/>
            <xs:element name="BeneficiaryID" type="xs:string"/>
            <xs:element name="MerchantName" type="xs:string"/>
        </xs:schema>
        <xsd:schema xmlns="http://com/bom/party/create" xmlns:ckt="http://com/bom/party/create" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/bom/party/create" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:annotation>
                <xsd:documentation>BOMORIGIN::/CDM/Business Objects/BusinessObjectModel.bom</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="Address">
                <xsd:sequence>
                    <xsd:element name="streetAddress1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="200"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="streetAddress2">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="200"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="city">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="state">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="country">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="postalCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CellPhone">
                <xsd:sequence>
                    <xsd:element name="countryCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="phoneNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Certificate">
                <xsd:sequence>
                    <xsd:element name="certificateNo">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="certificateExpiryDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="certificateIssuer">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="certificateType">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="CustmerType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="RETAIL"/>
                    <xsd:enumeration value="CORPORATE"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Customer">
                <xsd:sequence>
                    <xsd:element name="customerID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="accountID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MaintenaceHistory">
                <xsd:sequence>
                    <xsd:element name="lastMaintenanceTellerId">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="registrationDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Party">
                <xsd:sequence>
                    <xsd:element name="certificate" type="ckt:Certificate"/>
                    <xsd:element name="customer" type="ckt:Customer"/>
                    <xsd:element name="profile" type="ckt:Profile"/>
                    <xsd:element name="address" type="ckt:Address"/>
                    <xsd:element name="cellphone" type="ckt:CellPhone"/>
                    <xsd:element name="phone" type="ckt:Phone"/>
                    <xsd:element name="maintenacehistory" type="ckt:MaintenaceHistory"/>
                    <xsd:element name="familyName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="givenName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="taxIdentifier">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="dateOfBirth">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:date"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Phone">
                <xsd:sequence>
                    <xsd:element name="localNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="areaCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="countryCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Profile">
                <xsd:sequence>
                    <xsd:element name="customerType">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="nationality">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="gender">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ethnicGroup">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="occupation">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="registerFund" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="bankID" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="email">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="fax">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isBillingOrg" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isMerchant" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xsd:schema xmlns="http://com/bom/party" xmlns:kqa="http://com/bom/party" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/bom/party" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:annotation>
                <xsd:documentation>BOMORIGIN::/SMUBank CDM/Business Objects/BusinessObjectModel.bom</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="Address">
                <xsd:sequence>
                    <xsd:element name="streetAddress1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="200"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="streetAddress2">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="200"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="city">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="state">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="country">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="postalCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CellPhone">
                <xsd:sequence>
                    <xsd:element name="countryCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="phoneNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Certificate">
                <xsd:sequence>
                    <xsd:element name="certificateNo">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="certificateExpiryDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="certificateIssuer">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="certificateType">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="CustmerType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="RETAIL"/>
                    <xsd:enumeration value="CORPORATE"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Customer">
                <xsd:sequence>
                    <xsd:element name="customerID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MaintenaceHistory">
                <xsd:sequence>
                    <xsd:element name="lastMaintenanceTellerId">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="registrationDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Party">
                <xsd:sequence>
                    <xsd:element name="address" type="kqa:Address"/>
                    <xsd:element name="certificate" type="kqa:Certificate"/>
                    <xsd:element name="profile" type="kqa:Profile"/>
                    <xsd:element name="customer" type="kqa:Customer"/>
                    <xsd:element name="phone" type="kqa:Phone"/>
                    <xsd:element name="cellphone" type="kqa:CellPhone"/>
                    <xsd:element name="maintenacehistory" type="kqa:MaintenaceHistory"/>
                    <xsd:element name="familyName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="givenName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="taxIdentifier">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="dateOfBirth">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Phone">
                <xsd:sequence>
                    <xsd:element name="localNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="areaCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="countryCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Profile">
                <xsd:sequence>
                    <xsd:element name="customerType">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="nationality">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="gender">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ethnicGroup">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="occupation">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="bankID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="email">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="fax">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isBillingOrg" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isMerchant" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="Party_Customer">
        <wsdl:port name="Party_Customer_HTTPEndpoint" binding="tns:Party_Customer_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Service.serviceagent/Party_Customer_HTTPEndpoint"/>
        </wsdl:port>
        <wsdl:port name="Party_Customer_JMSEndpoint" binding="tns:Party_Customer_JMSEndpointBinding">
            <soap:address location=""/>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">party.endpoint</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Party_Customer">
        <wsdl:operation name="Party_Customer_Create">
            <wsdl:input message="tns:Party_Customer_Create-Input"/>
            <wsdl:output message="tns:Party_Customer_Create-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Party_MerchantList_Read">
            <wsdl:input message="tns:Party_MerchantList_Read-Input"/>
            <wsdl:output message="tns:Party_MerchantList_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Party_Customer_Read">
            <wsdl:input message="tns:Party_Customer_Read-Input"/>
            <wsdl:output message="tns:Party_Customer_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Party_BillingOrgList_Read">
            <wsdl:input message="tns:Party_BillingOrgList_Read-Input"/>
            <wsdl:output message="tns:Party_BillingOrgList_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Party_Customer_Read_v2">
            <wsdl:input message="tns:Party_Customer_Read_v2-Input"/>
            <wsdl:output message="tns:Party_Customer_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Party_CustomerAccountList_Read">
            <wsdl:input message="tns:Party_CustomerAccountList_Read-Input"/>
            <wsdl:output message="tns:Party_CustomerAccountList_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Party_Customer_Update">
            <wsdl:input message="tns:Party_Customer_Update-Input"/>
            <wsdl:output message="tns:Party_Customer_Update-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Party_Customer_HTTPEndpointBinding" type="tns:Party_Customer">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Party_Customer_Create">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_HTTPEndpoint/Party_Customer_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CDMCustomer"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader CustomerID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_MerchantList_Read">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_HTTPEndpoint/Party_MerchantList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader MerchantList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Customer_Read">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_HTTPEndpoint/Party_Customer_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID CertificateNo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader CDMCustomer"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_BillingOrgList_Read">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_HTTPEndpoint/Party_BillingOrgList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader BillingOrgList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Customer_Read_v2">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_HTTPEndpoint/Party_Customer_Read_v2"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID CertificateNo BankID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader CDMCustomer"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_CustomerAccountList_Read">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_HTTPEndpoint/Party_CustomerAccountList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerId"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader AccountList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Customer_Update">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_HTTPEndpoint/Party_Customer_Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CDMCustomer"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Party_Customer_JMSEndpointBinding" type="tns:Party_Customer">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Party_Customer_Create">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_JMSEndpoint/Party_Customer_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CDMCustomer"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader CustomerID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_MerchantList_Read">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_JMSEndpoint/Party_MerchantList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader MerchantList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Customer_Read">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_JMSEndpoint/Party_Customer_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID CertificateNo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader CDMCustomer"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_BillingOrgList_Read">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_JMSEndpoint/Party_BillingOrgList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader BillingOrgList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Customer_Read_v2">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_JMSEndpoint/Party_Customer_Read_v2"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID CertificateNo BankID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader CDMCustomer"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_CustomerAccountList_Read">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_JMSEndpoint/Party_CustomerAccountList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerId"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader AccountList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Customer_Update">
            <soap:operation style="rpc" soapAction="/Party_Customer.serviceagent/Party_Customer_JMSEndpoint/Party_Customer_Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CDMCustomer"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Party_Customer_Create-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CDMCustomer" type="ns1:Party"/>
    </wsdl:message>
    <wsdl:message name="Party_Customer_Create-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        <wsdl:part name="CustomerID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Party_MerchantList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
    </wsdl:message>
    <wsdl:message name="Party_MerchantList_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        <wsdl:part name="MerchantList" type="ns3:MerchantList"/>
    </wsdl:message>
    <wsdl:message name="Party_Customer_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CustomerID" type="xs:string"/>
        <wsdl:part name="CertificateNo" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Party_Customer_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        <wsdl:part name="CDMCustomer" type="ns4:Party"/>
    </wsdl:message>
    <wsdl:message name="Party_BillingOrgList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
    </wsdl:message>
    <wsdl:message name="Party_BillingOrgList_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        <wsdl:part name="BillingOrgList" type="ns5:BillingOrgList"/>
    </wsdl:message>
    <wsdl:message name="Party_Customer_Read_v2-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CustomerID" type="xs:string"/>
        <wsdl:part name="CertificateNo" type="xs:string"/>
        <wsdl:part name="BankID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Party_CustomerAccountList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CustomerId" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Party_CustomerAccountList_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        <wsdl:part name="AccountList" type="ns6:AccountList"/>
    </wsdl:message>
    <wsdl:message name="Party_Customer_Update-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CDMCustomer" type="ns7:Party"/>
    </wsdl:message>
    <wsdl:message name="Party_Customer_Update-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
    </wsdl:message>
</wsdl:definitions>