SMUtBank_IBS/src/wsdl/Party_Login_Mobile2FA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:tns="http://smubank.smu.edu.sg/Party/Login/Mobile2FA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/Party/Login/Mobile2FA">
    <wsdl:types>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Party_Login_Mobile2FA_Service">
        <wsdl:port name="PartyLoginMobile2FAJMSEndpoint" binding="tns:PartyLoginMobile2FAJMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://10.0.106.169:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">party.endpoint</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="PartyLoginMobile2FAHTTPEndpoint" binding="tns:PartyLoginMobile2FAHTTPEndpointBinding">
            <soap:address location="http://10.0.106.169:10100/Party/Login/Mobile2FA"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Party_Login_Mobile2FA">
        <wsdl:operation name="Party_Login_Mobile2FA_Create2FA">
            <wsdl:input message="tns:CreateNew"/>
            <wsdl:output message="tns:CreateNewResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Party_Login_Mobile2FA_TransactionAuthenticate">
            <wsdl:input message="tns:TransactionAuthenticate"/>
            <wsdl:output message="tns:TransactionAuthenticateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Party_Login_Mobile2FA_Authenticate">
            <wsdl:input message="tns:Authenticate"/>
            <wsdl:output message="tns:AuthenticateResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PartyLoginMobile2FAJMSEndpointBinding" type="tns:Party_Login_Mobile2FA">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Party_Login_Mobile2FA_Create2FA">
            <soap:operation style="rpc" soapAction="/Party_Login_Mobile2FA_Service.serviceagent/PartyLoginMobile2FAJMSEndpoint/Party_Login_Mobile2FA_Create2FA"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader customerID username PIN"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader QR2FA"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Login_Mobile2FA_TransactionAuthenticate">
            <soap:operation style="rpc" soapAction="/Party_Login_Mobile2FA_Service.serviceagent/PartyLoginMobile2FAJMSEndpoint/Party_Login_Mobile2FA_TransactionAuthenticate"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader username challenge hash"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader isAuthenticated"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Login_Mobile2FA_Authenticate">
            <soap:operation style="rpc" soapAction="/Party_Login_Mobile2FA_Service.serviceagent/PartyLoginMobile2FAJMSEndpoint/Party_Login_Mobile2FA_Authenticate"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader username PIN challenge hash"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader customerID"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PartyLoginMobile2FAHTTPEndpointBinding" type="tns:Party_Login_Mobile2FA">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Party_Login_Mobile2FA_Create2FA">
            <soap:operation style="rpc" soapAction="/Party_Login_Mobile2FA_Service.serviceagent/Party_Login_Mobile2FA_HTTPEndpoint/Party_Login_Mobile2FA_Create2FA"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader customerID username PIN"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader QR2FA"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Login_Mobile2FA_TransactionAuthenticate">
            <soap:operation style="rpc" soapAction="/Party_Login_Mobile2FA_Service.serviceagent/Party_Login_Mobile2FA_HTTPEndpoint/Party_Login_Mobile2FA_TransactionAuthenticate"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader username challenge hash"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader isAuthenticated"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Login_Mobile2FA_Authenticate">
            <soap:operation style="rpc" soapAction="/Party_Login_Mobile2FA_Service.serviceagent/Party_Login_Mobile2FA_HTTPEndpoint/Party_Login_Mobile2FA_Authenticate"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader username PIN challenge hash"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader customerID"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="CreateNew">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="customerID" type="xs:string"/>
        <wsdl:part name="username" type="xs:string"/>
        <wsdl:part name="PIN" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="CreateNewResponse">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="QR2FA" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="TransactionAuthenticate">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="username" type="xs:string"/>
        <wsdl:part name="challenge" type="xs:string"/>
        <wsdl:part name="hash" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="TransactionAuthenticateResponse">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="isAuthenticated" type="xs:boolean"/>
    </wsdl:message>
    <wsdl:message name="Authenticate">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="username" type="xs:string"/>
        <wsdl:part name="PIN" type="xs:int"/>
        <wsdl:part name="challenge" type="xs:string"/>
        <wsdl:part name="hash" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="AuthenticateResponse">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="customerID" type="xs:string"/>
    </wsdl:message>
</wsdl:definitions>