SMUtBank_IBS/src/wsdl/Party_Login_2FAPIN_Create.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://xmlns.example.com/1383656358621" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1383656358621">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Party_Login_2FAPIN_Create">
        <wsdl:port name="Party_Login_2FAPIN_Create_HTTPEndpoint" binding="tns:Party_Login_2FAPIN_Create_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Party_Login_2FAPIN_Create.serviceagent/Party_Login_2FAPIN_Create_HTTPEndpoint"/>
        </wsdl:port>
        <wsdl:port name="Party_Login_2FAPIN_Create_JMSEndpoint" binding="tns:Party_Login_2FAPIN_Create_JMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">party.endpoint</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Party_Login_2FAPIN_Create">
        <wsdl:operation name="Party_Login_2FAPIN_Create">
            <wsdl:input message="tns:Party_Login_2FAPIN_Create-Input"/>
            <wsdl:output message="tns:Party_Login_2FAPIN_Create-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Party_Login_2FAPIN_Create_HTTPEndpointBinding" type="tns:Party_Login_2FAPIN_Create">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Party_Login_2FAPIN_Create">
            <soap:operation style="rpc" soapAction="/Party_Login_2FAPIN_Create.serviceagent/Party_Login_2FAPIN_Create_HTTPEndpoint/Party_Login_2FAPIN_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CertificateNo LoginID Pin"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status Message"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Party_Login_2FAPIN_Create_JMSEndpointBinding" type="tns:Party_Login_2FAPIN_Create">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Party_Login_2FAPIN_Create">
            <soap:operation style="rpc" soapAction="/Party_Login_2FAPIN_Create.serviceagent/Party_Login_2FAPIN_Create_JMSEndpoint/Party_Login_2FAPIN_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CertificateNo LoginID Pin"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status Message"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Party_Login_2FAPIN_Create-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CertificateNo" type="xs:string"/>
        <wsdl:part name="LoginID" type="xs:string"/>
        <wsdl:part name="Pin" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Party_Login_2FAPIN_Create-Output">
        <wsdl:part name="Status" type="xs:string"/>
        <wsdl:part name="Message" type="xs:string"/>
    </wsdl:message>
</wsdl:definitions>