SMUtBank_IBS/src/wsdl/Party_AffinityList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:ns1="http://smubank.smu.edu.sg/schemas/PartyAffinityList" xmlns:tns="http://xmlns.example.com/1376628933942" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1376628933942">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns2:GlobalErrorID"/>
                    <xs:element ref="ns2:ErrorText"/>
                    <xs:element ref="ns2:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/PartyAffinityList" targetNamespace="http://smubank.smu.edu.sg/schemas/PartyAffinityList" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="PartyAffinityList">
                <xs:sequence>
                    <xs:element name="Affinity" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="ns1:AffinityID"/>
                                <xs:element ref="ns1:Active"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Active" type="xs:boolean"/>
            <xs:element name="AffinityID" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Party_AffinityList">
        <wsdl:port name="Party_AffinityList_JMSEndpoint" binding="tns:Party_AffinityList_JMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">party.endpoint</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="Party_AffinityList_HTTPEndpoint" binding="tns:Party_AffinityList_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Party_AffinityList.serviceagent/Party_AffinityList_HTTPEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Party_AffinityList">
        <wsdl:operation name="Party_AffinityList_Update">
            <wsdl:input message="tns:Party_AffinityList_Update-Input"/>
            <wsdl:output message="tns:Party_AffinityList_Update-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Party_AffinityList_Read">
            <wsdl:input message="tns:Party_AffinityList_Read-Input"/>
            <wsdl:output message="tns:Party_AffinityList_Read-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Party_AffinityList_JMSEndpointBinding" type="tns:Party_AffinityList">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Party_AffinityList_Update">
            <soap:operation style="rpc" soapAction="/Party_AffinityList.serviceagent/Party_AffinityList_JMSEndpoint/Party_AffinityList_Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID PartyAffinityList"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_AffinityList_Read">
            <soap:operation style="rpc" soapAction="/Party_AffinityList.serviceagent/Party_AffinityList_JMSEndpoint/Party_AffinityList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader PartyAffinityList"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Party_AffinityList_HTTPEndpointBinding" type="tns:Party_AffinityList">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Party_AffinityList_Update">
            <soap:operation style="rpc" soapAction="/Party_AffinityList.serviceagent/Party_AffinityList_HTTPEndpoint/Party_AffinityList_Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID PartyAffinityList"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_AffinityList_Read">
            <soap:operation style="rpc" soapAction="/Party_AffinityList.serviceagent/Party_AffinityList_HTTPEndpoint/Party_AffinityList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader PartyAffinityList"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Party_AffinityList_Update-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CustomerID" type="xs:int"/>
        <wsdl:part name="PartyAffinityList" type="ns1:PartyAffinityList"/>
    </wsdl:message>
    <wsdl:message name="Party_AffinityList_Update-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
    </wsdl:message>
    <wsdl:message name="Party_AffinityList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CustomerID" type="xs:int"/>
    </wsdl:message>
    <wsdl:message name="Party_AffinityList_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        <wsdl:part name="PartyAffinityList" type="ns1:PartyAffinityList"/>
    </wsdl:message>
</wsdl:definitions>