SMUtBank_IBS/src/wsdl/Product_Parameters.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://smubank.smu.edu.sg/schemas/ProductParameters" xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:tns="http://smubank.smu.edu.sg/Product/Parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/Product/Parameters">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/ProductParameters" targetNamespace="http://smubank.smu.edu.sg/schemas/ProductParameters" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ProductParameters">
                <xs:sequence>
                    <xs:element ref="ns2:ProductID"/>
                    <xs:element ref="ns2:ProductName"/>
                    <xs:element ref="ns2:InterestRate"/>
                    <xs:element ref="ns2:PenaltyRate"/>
                    <xs:element ref="ns2:MinOpeningBalance"/>
                    <xs:element ref="ns2:MaxLtvRatio"/>
                    <xs:element ref="ns2:RepaymentPenaltyThreshold"/>
                    <xs:element ref="ns2:Term"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="InterestRate" type="xs:string"/>
            <xs:element name="MaxLtvRatio" type="xs:string"/>
            <xs:element name="MinOpeningBalance" type="xs:string"/>
            <xs:element name="PenaltyRate" type="xs:string"/>
            <xs:element name="ProductID" type="xs:string"/>
            <xs:element name="ProductName" type="xs:string"/>
            <xs:element name="RepaymentPenaltyThreshold" type="xs:string"/>
            <xs:element name="Term" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Product_Parameters">
        <wsdl:port name="Product_Parameters_JMSEndpoint" binding="tns:Product_Parameters_JMSEndpointBinding">
            <soap:address location=""/>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">product.endpoint</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="Product_Parameters_HTTPEndpoint" binding="tns:Product_Parameters_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Product_Parameters">
        <wsdl:operation name="Product_Parameters_Read_v1">
            <wsdl:input message="tns:Product_Parameters_Read_v1-Input"/>
            <wsdl:output message="tns:Product_Parameters_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Product_Parameters_Read">
            <wsdl:input message="tns:Product_Parameters_Read-Input"/>
            <wsdl:output message="tns:Product_Parameters_Read-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Product_Parameters_JMSEndpointBinding" type="tns:Product_Parameters">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Product_Parameters_Read_v1">
            <soap:operation style="rpc" soapAction="/Product_Parameters.serviceagent/Product_Parameters_JMSEndpoint/Product_Parameters_Read_v1"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader GlobalProductID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader ProductParameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Product_Parameters_Read">
            <soap:operation style="rpc" soapAction="/Product_Parameters.serviceagent/Product_Parameters_JMSEndpoint/Product_Parameters_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader GlobalProductID BankID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader ProductParameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Product_Parameters_HTTPEndpointBinding" type="tns:Product_Parameters">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Product_Parameters_Read_v1">
            <soap:operation style="rpc" soapAction="/Product_Parameters.serviceagent/Product_Parameters_HTTPEndpoint/Product_Parameters_Read_v1"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader GlobalProductID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader ProductParameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Product_Parameters_Read">
            <soap:operation style="rpc" soapAction="/Product_Parameters.serviceagent/Product_Parameters_HTTPEndpoint/Product_Parameters_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader GlobalProductID BankID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader ProductParameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Product_Parameters_Read_v1-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="GlobalProductID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Product_Parameters_Read-Output">
        <wsdl:part name="ServiceRespHeader" element="ns1:ServiceRespHeader"/>
        <wsdl:part name="ProductParameters" type="ns2:ProductParameters"/>
    </wsdl:message>
    <wsdl:message name="Product_Parameters_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="GlobalProductID" type="xs:string"/>
        <wsdl:part name="BankID" type="xs:string"/>
    </wsdl:message>
</wsdl:definitions>