SMUtBank_IBS/src/wsdl/Transaction_LoanPartialRepayment_Create.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:ns1="http://com/smubank" xmlns:tns="http://smubank.smu.edu.sg/Transaction/Withdrawal_Create" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/Transaction/Withdrawal_Create">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns2:GlobalErrorID"/>
                    <xs:element ref="ns2:ErrorText"/>
                    <xs:element ref="ns2:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        </xs:schema>
        <xsd:schema xmlns="http://com/smubank" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ctc="http://com/smubank" targetNamespace="http://com/smubank" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:annotation>
                <xsd:documentation>BOMORIGIN::platform:/resource/test/Business%20Objects/BusinessObjectModel.bom#_IEwXsNznEeKKiLjxg6BFJg</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="Transaction">
                <xsd:sequence>
                    <xsd:element name="accountID" default="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:totalDigits value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="transactionAmount">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="transactionDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="transactionReferenceNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="paymentMode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="overrideFlag" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="narrative">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="transactionBranch">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="officerID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="currency" type="xsd:string"/>
                    <xsd:element name="customerID" type="xsd:int"/>
                    <xsd:element name="keepMaturityDate" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="Transaction_LoanPartialRepayment_Create">
        <wsdl:port name="Transaction_LoanPartialRepayment_Create_HTTPEndpoint" binding="tns:Transaction_LoanPartialRepayment_Create_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Transaction_LoanPartialRepayment_Create.serviceagent/Transaction_LoanPartialRepayment_Create_HTTPEndpoint"/>
        </wsdl:port>
        <wsdl:port name="Transaction_LoanPartialRepayment_Create_JMSEndpoint" binding="tns:Transaction_LoanPartialRepayment_Create_JMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">transaction.endpoint</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Transaction_LoanPartialRepayment_Create">
        <wsdl:operation name="Transaction_LoanPartialRepayment_Create">
            <wsdl:input message="tns:Transaction_LoanPartialRepayment_Create-Input"/>
            <wsdl:output message="tns:Transaction_LoanPartialRepayment_Create-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Transaction_LoanPartialRepayment_Create_HTTPEndpointBinding" type="tns:Transaction_LoanPartialRepayment_Create">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Transaction_LoanPartialRepayment_Create">
            <soap:operation style="rpc" soapAction="/Transaction_LoanPartialRepayment_Create.serviceagent/Transaction_LoanPartialRepayment_Create_HTTPEndpoint/Transaction_LoanPartialRepayment_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader Transaction"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader TransactionID BalanceBefore BalanceAfter PenaltyAmount MaturityDate LoanTerm InstallmentAmount"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Transaction_LoanPartialRepayment_Create_JMSEndpointBinding" type="tns:Transaction_LoanPartialRepayment_Create">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Transaction_LoanPartialRepayment_Create">
            <soap:operation style="rpc" soapAction="/Transaction_LoanPartialRepayment_Create.serviceagent/Transaction_LoanPartialRepayment_Create_JMSEndpoint/Transaction_LoanPartialRepayment_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader Transaction"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader TransactionID BalanceBefore BalanceAfter PenaltyAmount MaturityDate LoanTerm InstallmentAmount"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Transaction_LoanPartialRepayment_Create-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="Transaction" type="ns1:Transaction"/>
    </wsdl:message>
    <wsdl:message name="Transaction_LoanPartialRepayment_Create-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        <wsdl:part name="TransactionID" type="xs:string"/>
        <wsdl:part name="BalanceBefore" type="xs:string"/>
        <wsdl:part name="BalanceAfter" type="xs:string"/>
        <wsdl:part name="PenaltyAmount" type="xs:string"/>
        <wsdl:part name="MaturityDate" type="xs:string"/>
        <wsdl:part name="LoanTerm" type="xs:string"/>
        <wsdl:part name="InstallmentAmount" type="xs:string"/>
    </wsdl:message>
</wsdl:definitions>