SMUtBank_IBS/WebContent/WEB-INF/classes/wsdl/Account_Loan_Create.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:ns1="http://com/smubank" xmlns:tns="http://smubank.smu.edu.sg/Account/LoanCreate" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/Account/LoanCreate">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns2:GlobalErrorID"/>
                    <xs:element ref="ns2:ErrorText"/>
                    <xs:element ref="ns2:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        </xs:schema>
        <xsd:schema xmlns:hxt="http://com/smubank" xmlns="http://com/smubank" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/smubank" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:annotation>
                <xsd:documentation>BOMORIGIN::platform:/resource/test/Business%20Objects/BusinessObjectModel.bom#_3MonEP3WEeGxCID84adpgg</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="LendingAccount">
                <xsd:sequence>
                    <xsd:element name="product" type="hxt:Product"/>
                    <xsd:element name="loanaccount" type="hxt:LoanAccount"/>
                    <xsd:element name="maintenancehistory" type="hxt:MaintenanceHistory"/>
                    <xsd:element name="customerID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="currency">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="homeBranch">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="officerID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="accountOpenDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="balance">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="currentStatus">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="interestRate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="assignedAccountForAccountManagementFeeDeduction" default="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="narrative">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isServiceChargeWaived" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="penaltyRate" type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LoanAccount">
                <xsd:sequence>
                    <xsd:element name="loanPurpose" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="loanTerm" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ltvRatio" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="penaltyRateBasis" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="repaymentGraceDay" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="applicationID" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="assetValue" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="fixedTerm" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="letterOfOfferDate" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="repaymentMode" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="title">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isInterestWaived" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MaintenanceHistory">
                <xsd:sequence>
                    <xsd:element name="lastTransactionBranch">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="lastMaintenanceOfficer">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Product">
                <xsd:sequence>
                    <xsd:element name="productID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="productName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="dateBasisForRate" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="rateChartCode" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="compoundInterestRateBasis" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="Account_Loan_Create_Service">
        <wsdl:port name="Account_Loan_Create_HTTPEndpoint" binding="tns:Account_Loan_Create_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Account_Loan_Create_Service.serviceagent/Account_Loan_Create_HTTPEndpoint"/>
        </wsdl:port>
        <wsdl:port name="Account_Loan_Create_JMSEndpoint" binding="tns:Account_Loan_Create_JMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">account.endpoint</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Account_Loan_Create">
        <wsdl:operation name="Account_Loan_Create">
            <wsdl:input message="tns:Account_Loan_Create-Input"/>
            <wsdl:output message="tns:Account_Loan_Create-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Account_Loan_Create_HTTPEndpointBinding" type="tns:Account_Loan_Create">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Account_Loan_Create">
            <soap:operation style="rpc" soapAction="/Account_Loan_Create_Service.serviceagent/Account_Loan_Create_HTTPEndpoint/Account_Loan_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader LendingAccount SettlementAccount"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader accountID"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Account_Loan_Create_JMSEndpointBinding" type="tns:Account_Loan_Create">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Account_Loan_Create">
            <soap:operation style="rpc" soapAction="/Account_Loan_Create_Service.serviceagent/Account_Loan_Create_JMSEndpoint/Account_Loan_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader LendingAccount SettlementAccount"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader accountID"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Account_Loan_Create-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="LendingAccount" type="ns1:LendingAccount"/>
        <wsdl:part name="SettlementAccount" type="xs:int"/>
    </wsdl:message>
    <wsdl:message name="Account_Loan_Create-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        <wsdl:part name="accountID" type="xs:string"/>
    </wsdl:message>
</wsdl:definitions>