SMUtBank_IBS/WebContent/WEB-INF/classes/wsdl/MDM_ReferenceData.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns5="http://smubank.smu.edu.sg/schemas/CustomerTypeList" xmlns:ns6="http://smubank.smu.edu.sg/schemas/CurrencyList" xmlns:ns2="http://www.tibco.com/schemas/MDM_Product_ReadList/Schemas/ProductList.xsd" xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:ns4="http://smubank.smu.edu.sg/schemas/TransactionTypeList" xmlns:ns3="http://smubank.smu.edu.sg/schemas/AffinityList" xmlns:tns="http://smubank.smu.edu.sg/MDM/ReferenceData" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/MDM/ReferenceData">
    <wsdl:types>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/CustomerTypeList" targetNamespace="http://smubank.smu.edu.sg/schemas/CustomerTypeList" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="CustomerType">
                <xs:sequence>
                    <xs:element ref="ns5:CustomerTypeID"/>
                    <xs:element ref="ns5:CustomerTypeName"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CustomerTypeList">
                <xs:sequence>
                    <xs:element name="CustomerType" type="ns5:CustomerType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="CustomerTypeID" type="xs:string"/>
            <xs:element name="CustomerTypeName" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/AffinityList" targetNamespace="http://smubank.smu.edu.sg/schemas/AffinityList" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="Affinity">
                <xs:sequence>
                    <xs:element ref="ns3:AffinityID"/>
                    <xs:element ref="ns3:Level1"/>
                    <xs:element ref="ns3:Level2"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AffinityList">
                <xs:sequence>
                    <xs:element name="Affinity" type="ns3:Affinity" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AffinityID" type="xs:string"/>
            <xs:element name="Level1" type="xs:string"/>
            <xs:element name="Level2" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/TransactionTypeList" targetNamespace="http://smubank.smu.edu.sg/schemas/TransactionTypeList" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="TransactionType">
                <xs:sequence>
                    <xs:element ref="ns4:TransactionTypeID"/>
                    <xs:element ref="ns4:TransactionTypeName"/>
                    <xs:element ref="ns4:TransactionCode"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransactionTypeList">
                <xs:sequence>
                    <xs:element name="TransactionType" type="ns4:TransactionType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="TransactionCode" type="xs:string"/>
            <xs:element name="TransactionTypeID" type="xs:string"/>
            <xs:element name="TransactionTypeName" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/MDM_Product_ReadList/Schemas/ProductList.xsd" targetNamespace="http://www.tibco.com/schemas/MDM_Product_ReadList/Schemas/ProductList.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element ref="ns2:ProductID"/>
                    <xs:element ref="ns2:ProductName"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductList">
                <xs:sequence>
                    <xs:element name="Product" type="ns2:Product" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ProductID" type="xs:string"/>
            <xs:element name="ProductName" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/CurrencyList" targetNamespace="http://smubank.smu.edu.sg/schemas/CurrencyList" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="Currency">
                <xs:sequence>
                    <xs:element ref="ns6:CountryName"/>
                    <xs:element ref="ns6:CurrencyName"/>
                    <xs:element ref="ns6:CurrencyCode"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CurrencyList">
                <xs:sequence>
                    <xs:element name="Currency" type="ns6:Currency" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="CountryName" type="xs:string"/>
            <xs:element name="CurrencyCode" type="xs:string"/>
            <xs:element name="CurrencyName" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="MDM_ReferenceData">
        <wsdl:port name="MDM_ReferenceData_JMSEndpoint" binding="tns:MDM_ReferenceData_JMSEndpointBinding">
            <soap:address location=""/>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">mdm.endpoint</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="MDM_ReferenceData_HTTPEndpoint" binding="tns:MDM_ReferenceData_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/MDM_ReferenceData.serviceagent/MDM_ReferenceData_HTTPEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="MDM_ReferenceData">
        <wsdl:operation name="MDM_AffinityList_Read">
            <wsdl:input message="tns:MDM_AffinityList_Read-Input"/>
            <wsdl:output message="tns:MDM_AffinityList_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="MDM_TransactionTypeList_Read">
            <wsdl:input message="tns:MDM_TransactionTypeList_Read-Input"/>
            <wsdl:output message="tns:MDM_TransactionTypeList_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="MDM_CustomerTypeList_Read">
            <wsdl:input message="tns:MDM_CustomerTypeList_Read-Input"/>
            <wsdl:output message="tns:MDM_CustomerTypeList_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="MDM_CurrencyList_Read">
            <wsdl:input message="tns:MDM_CurrencyList_Read-Input"/>
            <wsdl:output message="tns:MDM_CurrencyList_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="MDM_ProductList_Read">
            <wsdl:input message="tns:MDM_ProductList_Read-Input"/>
            <wsdl:output message="tns:MDM_ProductList_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="MDM_CurrencyList_Load">
            <wsdl:input message="tns:MDM_CurrencyList_Load-Input"/>
            <wsdl:output message="tns:MDM_CurrencyList_Load-Output"/>
        </wsdl:operation>
        <wsdl:operation name="MDM_AffinityList_Load">
            <wsdl:input message="tns:MDM_AffinityList_Load-Input"/>
            <wsdl:output message="tns:MDM_AffinityList_Load-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MDM_ReferenceData_JMSEndpointBinding" type="tns:MDM_ReferenceData">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="MDM_AffinityList_Read">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_JMSEndpoint/MDM_AffinityList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader AffinityList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MDM_TransactionTypeList_Read">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_JMSEndpoint/MDM_TransactionTypeList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader TransactionTypeList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MDM_CustomerTypeList_Read">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_JMSEndpoint/MDM_CustomerTypeList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader CustomerTypeList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MDM_CurrencyList_Read">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_JMSEndpoint/MDM_CurrencyList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader CurrencyList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MDM_ProductList_Read">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_JMSEndpoint/MDM_ProductList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader ProductList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MDM_CurrencyList_Load">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_JMSEndpoint/MDM_CurrencyList_Load"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MDM_AffinityList_Load">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_JMSEndpoint/MDM_AffinityList_Load"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MDM_ReferenceData_HTTPEndpointBinding" type="tns:MDM_ReferenceData">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="MDM_AffinityList_Read">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_HTTPEndpoint/MDM_AffinityList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader AffinityList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MDM_TransactionTypeList_Read">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_HTTPEndpoint/MDM_TransactionTypeList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader TransactionTypeList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MDM_CustomerTypeList_Read">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_HTTPEndpoint/MDM_CustomerTypeList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader CustomerTypeList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MDM_CurrencyList_Read">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_HTTPEndpoint/MDM_CurrencyList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader CurrencyList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MDM_ProductList_Read">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_HTTPEndpoint/MDM_ProductList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader ProductList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MDM_CurrencyList_Load">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_HTTPEndpoint/MDM_CurrencyList_Load"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MDM_AffinityList_Load">
            <soap:operation style="rpc" soapAction="/MDM_ReferenceData.serviceagent/MDM_ReferenceData_HTTPEndpoint/MDM_AffinityList_Load"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="MDM_ProductList_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="ProductList" type="ns2:ProductList"/>
    </wsdl:message>
    <wsdl:message name="MDM_AffinityList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
    </wsdl:message>
    <wsdl:message name="MDM_AffinityList_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="AffinityList" type="ns3:AffinityList"/>
    </wsdl:message>
    <wsdl:message name="MDM_TransactionTypeList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
    </wsdl:message>
    <wsdl:message name="MDM_TransactionTypeList_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="TransactionTypeList" type="ns4:TransactionTypeList"/>
    </wsdl:message>
    <wsdl:message name="MDM_CustomerTypeList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
    </wsdl:message>
    <wsdl:message name="MDM_CustomerTypeList_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="CustomerTypeList" type="ns5:CustomerTypeList"/>
    </wsdl:message>
    <wsdl:message name="MDM_CurrencyList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
    </wsdl:message>
    <wsdl:message name="MDM_CurrencyList_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="CurrencyList" type="ns6:CurrencyList"/>
    </wsdl:message>
    <wsdl:message name="MDM_ProductList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
    </wsdl:message>
    <wsdl:message name="MDM_CurrencyList_Load-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
    </wsdl:message>
    <wsdl:message name="MDM_CurrencyList_Load-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
    </wsdl:message>
    <wsdl:message name="MDM_AffinityList_Load-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
    </wsdl:message>
    <wsdl:message name="MDM_AffinityList_Load-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
    </wsdl:message>
</wsdl:definitions>