SMUtBank_IBS/WebContent/WEB-INF/classes/wsdl/Party_CustomerAccountsList_Read.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://com/bom" xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:tns="http://xmlns.example.com/1371919840077" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1371919840077">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
        <xsd:schema xmlns="http://com/bom" xmlns:sby="http://com/bom" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/bom" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:annotation>
                <xsd:documentation>BOMORIGIN::platform:/resource/Test2/Business%20Objects/BusinessObjectModel.bom#_K7CaQCwMEeKM6dzvfHKUUw</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element name="maintenancehistory" type="sby:MaintenanceHistory"/>
                    <xsd:element name="accountID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="currency" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="homeBranch" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="hasCard" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="officerID" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="accountOpenDate" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="balance" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="currentStatus" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="interestRate" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="productID" minOccurs="0" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccountList">
                <xsd:sequence>
                    <xsd:element name="account" type="sby:Account" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MaintenanceHistory">
                <xsd:sequence>
                    <xsd:element name="lastTransactionBranch">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="lastMaintenanceOfficer">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="Party_CustomerAccountList_Read-Service">
        <wsdl:port name="Party_CustomerAccountList_Read_JMSEndpoint" binding="tns:Party_CustomerAccountList_Read_JMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">party.endpoint</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="Party_CustomerAccountList_Read_HTTPEndpoint" binding="tns:Party_CustomerAccountList_Read_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Party_CustomerAccountList_Read-Service.serviceagent/Party_CustomerAccountList_Read_HTTPEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Party_CustomerAccountList_Read">
        <wsdl:operation name="Party_CustomerAccountList_Read">
            <wsdl:input message="tns:Party_CustomerAccountList_Read-Input"/>
            <wsdl:output message="tns:Party_CustomerAccountList_Read-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Party_CustomerAccountList_Read_JMSEndpointBinding" type="tns:Party_CustomerAccountList_Read">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Party_CustomerAccountList_Read">
            <soap:operation style="rpc" soapAction="/Party_CustomerAccountList_Read-Service.serviceagent/Party_CustomerAccountList_Read_JMSEndpoint/Party_CustomerAccountList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerId"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader AccountList"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Party_CustomerAccountList_Read_HTTPEndpointBinding" type="tns:Party_CustomerAccountList_Read">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Party_CustomerAccountList_Read">
            <soap:operation style="rpc" soapAction="/Party_CustomerAccountList_Read-Service.serviceagent/Party_CustomerAccountList_Read_HTTPEndpoint/Party_CustomerAccountList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerId"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader AccountList"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Party_CustomerAccountList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CustomerId" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Party_CustomerAccountList_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="AccountList" type="ns2:AccountList"/>
    </wsdl:message>
</wsdl:definitions>