SMUtBank_IBS/WebContent/WEB-INF/classes/wsdl/Party_Beneficiary.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://www.tibco.com/schemas/MDM_Beneficiary_ReadList/Schemas/BeneficiaryList.xsd" xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:tns="http://xmlns.example.com/1359529805745" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1359529805745">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/MDM_Beneficiary_ReadList/Schemas/BeneficiaryList.xsd" targetNamespace="http://www.tibco.com/schemas/MDM_Beneficiary_ReadList/Schemas/BeneficiaryList.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="BeneficiaryList">
                <xs:sequence>
                    <xs:element name="Beneficiary" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="AccountID" type="xs:string"/>
                                <xs:element name="Currency" type="xs:string"/>
                                <xs:element name="BeneficiaryID" type="xs:string"/>
                                <xs:element name="Description" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Party_Beneficiary">
        <wsdl:port name="Party_Beneficiary_JMSEndpoint" binding="tns:Party_Beneficiary_JMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">party.endpoint</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="Party_Beneficiary_HTTPEndpoint" binding="tns:Party_Beneficiary_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Party_Beneficiary.serviceagent/Party_Beneficiary_HTTPEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Party_Beneficiary">
        <wsdl:operation name="Party_BeneficiaryList_Read">
            <wsdl:input message="tns:Party_BeneficiaryList_Read-Input"/>
            <wsdl:output message="tns:Party_BeneficiaryList_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Party_Beneficiary_Create">
            <wsdl:input message="tns:Party_Beneficiary_Create-Input"/>
            <wsdl:output message="tns:Party_Beneficiary_Create-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Party_Beneficiary_Delete">
            <wsdl:input message="tns:Party_Beneficiary_Delete-Input"/>
            <wsdl:output message="tns:Party_Beneficiary_Delete-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Party_Beneficiary_JMSEndpointBinding" type="tns:Party_Beneficiary">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Party_BeneficiaryList_Read">
            <soap:operation style="rpc" soapAction="/Party_Beneficiary.serviceagent/Party_Beneficiary_JMSEndpoint/Party_BeneficiaryList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader BeneficiaryList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Beneficiary_Create">
            <soap:operation style="rpc" soapAction="/Party_Beneficiary.serviceagent/Party_Beneficiary_JMSEndpoint/Party_Beneficiary_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID AccountID Description"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Beneficiary_Delete">
            <soap:operation style="rpc" soapAction="/Party_Beneficiary.serviceagent/Party_Beneficiary_JMSEndpoint/Party_Beneficiary_Delete"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID AccountID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Party_Beneficiary_HTTPEndpointBinding" type="tns:Party_Beneficiary">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Party_BeneficiaryList_Read">
            <soap:operation style="rpc" soapAction="/Party_Beneficiary.serviceagent/Party_Beneficiary_HTTPEndpoint/Party_BeneficiaryList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader BeneficiaryList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Beneficiary_Create">
            <soap:operation style="rpc" soapAction="/Party_Beneficiary.serviceagent/Party_Beneficiary_HTTPEndpoint/Party_Beneficiary_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID AccountID Description"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Beneficiary_Delete">
            <soap:operation style="rpc" soapAction="/Party_Beneficiary.serviceagent/Party_Beneficiary_HTTPEndpoint/Party_Beneficiary_Delete"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID AccountID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Party_BeneficiaryList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CustomerID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Party_BeneficiaryList_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="BeneficiaryList" type="ns2:BeneficiaryList"/>
    </wsdl:message>
    <wsdl:message name="Party_Beneficiary_Create-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CustomerID" type="xs:string"/>
        <wsdl:part name="AccountID" type="xs:string"/>
        <wsdl:part name="Description" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Party_Beneficiary_Create-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
    </wsdl:message>
    <wsdl:message name="Party_Beneficiary_Delete-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CustomerID" type="xs:string"/>
        <wsdl:part name="AccountID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Party_Beneficiary_Delete-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
    </wsdl:message>
</wsdl:definitions>