SMUtBank_IBS/WebContent/WEB-INF/classes/wsdl/Party_BillingOrgList_Read.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://smubank.smu.edu.sg/schemas/BillingOrgList" xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:tns="http://xmlns.example.com/1378594136087" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1378594136087">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/BillingOrgList" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://smubank.smu.edu.sg/schemas/BillingOrgList" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="BillingOrgList">
                <xs:sequence>
                    <xs:element name="BillingOrg" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="ns2:BillingOrgName"/>
                                <xs:element ref="ns2:AccountID"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AccountID" type="xs:string"/>
            <xs:element name="BillingOrgName" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Party_BillingOrgList_Read_Service">
        <wsdl:port name="Party_BillingOrgList_ReadHTTPEndpoint" binding="tns:Party_BillingOrgList_ReadHTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Party/BillingOrgList_Read_BillingList"/>
        </wsdl:port>
        <wsdl:port name="Party_BillingOrgList_ReadJMSEndpoint" binding="tns:Party_BillingOrgList_ReadJMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">party.endpoint</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Party_BillingOrgList_Read">
        <wsdl:operation name="Party_BillingOrgList_Read">
            <wsdl:input message="tns:Party_BillingOrgList_Read-Input"/>
            <wsdl:output message="tns:Party_BillingOrgList_Read-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Party_BillingOrgList_ReadHTTPEndpointBinding" type="tns:Party_BillingOrgList_Read">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Party_BillingOrgList_Read">
            <soap:operation style="rpc" soapAction="/Party_BillingOrgList_Read_Service.serviceagent/Party_BillingOrgList_ReadEndpoint2/Party_BillingOrgList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader BillingOrgList"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Party_BillingOrgList_ReadJMSEndpointBinding" type="tns:Party_BillingOrgList_Read">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Party_BillingOrgList_Read">
            <soap:operation style="rpc" soapAction="/Party_BillingOrgList_Read_Service.serviceagent/Party_BillingOrgList_ReadJMSEndpoint/Party_BillingOrgList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader BillingOrgList"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Party_BillingOrgList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
    </wsdl:message>
    <wsdl:message name="Party_BillingOrgList_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="BillingOrgList" type="ns2:BillingOrgList"/>
    </wsdl:message>
</wsdl:definitions>