SMUtBank_IBS/WebContent/WEB-INF/classes/wsdl/Party_Login.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:tns="http://smubank.smu.edu.sg/Account/Deposit_Read" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/Account/Deposit_Read">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Party_Login">
        <wsdl:port name="Party_Login_JMSEndpoint" binding="tns:Party_Login_JMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">party.endpoint</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="Party_Login_HTTPEndpoint" binding="tns:Party_Login_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Party_Login.serviceagent/Party_Login_HTTPEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Party_Login">
        <wsdl:operation name="Party_Login_Read">
            <wsdl:input message="tns:Party_Login_Read-Input"/>
            <wsdl:output message="tns:Party_Login_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Party_Login_Update">
            <wsdl:input message="tns:Party_Login_Update-Input"/>
            <wsdl:output message="tns:Party_Login_Update-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Party_Login_Create">
            <wsdl:input message="tns:Party_Login_Create-Input"/>
            <wsdl:output message="tns:Party_Login_Create-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Party_Login_JMSEndpointBinding" type="tns:Party_Login">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Party_Login_Read">
            <soap:operation style="rpc" soapAction="/Party_Login.serviceagent/Party_Login_JMSEndpoint/Party_Login_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader LoginID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Login_Update">
            <soap:operation style="rpc" soapAction="/Party_Login.serviceagent/Party_Login_JMSEndpoint/Party_Login_Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader OldLoginID NewLoginID OldPIN NewPIN CustomerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Login_Create">
            <soap:operation style="rpc" soapAction="/Party_Login.serviceagent/Party_Login_JMSEndpoint/Party_Login_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader LoginID CustomerID PIN IMEI CertificateNo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Party_Login_HTTPEndpointBinding" type="tns:Party_Login">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Party_Login_Read">
            <soap:operation style="rpc" soapAction="/Party_Login.serviceagent/Party_Login_HTTPEndpoint/Party_Login_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader LoginID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Login_Update">
            <soap:operation style="rpc" soapAction="/Party_Login.serviceagent//Party_Login_Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader OldLoginID NewLoginID OldPIN NewPIN CustomerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Party_Login_Create">
            <soap:operation style="rpc" soapAction="/Party_Login.serviceagent/Party_Login_HTTPEndpoint/Party_Login_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader LoginID CustomerID PIN IMEI CertificateNo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Party_Login_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CustomerID" type="xs:int"/>
    </wsdl:message>
    <wsdl:message name="Party_Login_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="LoginID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Party_Login_Update-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="OldLoginID" type="xs:string"/>
        <wsdl:part name="NewLoginID" type="xs:string"/>
        <wsdl:part name="OldPIN" type="xs:string"/>
        <wsdl:part name="NewPIN" type="xs:string"/>
        <wsdl:part name="CustomerID" type="xs:int"/>
    </wsdl:message>
    <wsdl:message name="Party_Login_Update-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
    </wsdl:message>
    <wsdl:message name="Party_Login_Create-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="LoginID" type="xs:string"/>
        <wsdl:part name="CustomerID" type="xs:int"/>
        <wsdl:part name="PIN" type="xs:string"/>
        <wsdl:part name="IMEI" type="xs:string"/>
        <wsdl:part name="CertificateNo" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Party_Login_Create-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
    </wsdl:message>
</wsdl:definitions>