SMUtBank_IBS/WebContent/WEB-INF/classes/wsdl/Payment_StandingInstruction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://smubank.smu.edu.sg/schemas/StandingInstructionList" xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:tns="http://xmlns.example.com/1377167015042" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1377167015042">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/StandingInstructionList" targetNamespace="http://smubank.smu.edu.sg/schemas/StandingInstructionList" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="StandingInstructionList">
                <xs:sequence>
                    <xs:element name="StandingInstruction" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="ns2:StandingInstructionID"/>
                                <xs:element ref="ns2:CustomerID"/>
                                <xs:element ref="ns2:FromAccount"/>
                                <xs:element ref="ns2:ToAccount"/>
                                <xs:element ref="ns2:Amount"/>
                                <xs:element ref="ns2:TransactionReferenceNumber"/>
                                <xs:element ref="ns2:isRecurring"/>
                                <xs:element ref="ns2:Weekly_Monthly"/>
                                <xs:element ref="ns2:LastDateTime"/>
                                <xs:element ref="ns2:NextDateTime"/>
                                <xs:element ref="ns2:Memo"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Amount" type="xs:string"/>
            <xs:element name="CustomerID" type="xs:string"/>
            <xs:element name="FromAccount" type="xs:string"/>
            <xs:element name="LastDateTime" type="xs:string"/>
            <xs:element name="Memo" type="xs:string"/>
            <xs:element name="NextDateTime" type="xs:string"/>
            <xs:element name="StandingInstructionID" type="xs:string"/>
            <xs:element name="ToAccount" type="xs:string"/>
            <xs:element name="TransactionReferenceNumber" type="xs:string"/>
            <xs:element name="Weekly_Monthly" type="xs:string"/>
            <xs:element name="isRecurring" type="xs:boolean"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Payment_StandingInstruction_Service">
        <wsdl:port name="Payment_StandingInstruction_JMSEndpoint" binding="tns:Payment_StandingInstruction_JMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">payment.endpoint</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="Payment_StandingInstruction_HTTPEndpoint" binding="tns:Payment_StandingInstruction_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Payment_StandingInstruction_Service.serviceagent/Payment_StandingInstruction_HTTPEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Payment_StandingInstruction">
        <wsdl:operation name="Payment_StandingInstruction_Update">
            <wsdl:input message="tns:Payment_StandingInstruction_Update-Input"/>
            <wsdl:output message="tns:Payment_StandingInstruction_Update-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Payment_StandingInstruction_Create">
            <wsdl:input message="tns:Payment_StandingInstruction_Create-Input"/>
            <wsdl:output message="tns:Payment_StandingInstruction_Create-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Payment_StandingInstruction_Deactivate">
            <wsdl:input message="tns:Payment_StandingInstruction_Deactivate-Input"/>
            <wsdl:output message="tns:Payment_StandingInstruction_Deactivate-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Payment_StandingInstructionList_Read">
            <wsdl:input message="tns:Payment_StandingInstructionList_Read-Input"/>
            <wsdl:output message="tns:Payment_StandingInstructionList_Read-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Payment_StandingInstruction_Read">
            <wsdl:input message="tns:Payment_StandingInstruction_Read-Input"/>
            <wsdl:output message="tns:Payment_StandingInstruction_Read-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Payment_StandingInstruction_JMSEndpointBinding" type="tns:Payment_StandingInstruction">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Payment_StandingInstruction_Update">
            <soap:operation style="rpc" soapAction="/Payment_StandingInstruction_Service.serviceagent/Payment_StandingInstruction_JMSEndpoint/Payment_StandingInstruction_Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader StandingInstructionID Amount IsRecurring Weekly_Monthly NextDateTime Memo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Payment_StandingInstruction_Create">
            <soap:operation style="rpc" soapAction="/Payment_StandingInstruction_Service.serviceagent/Payment_StandingInstruction_JMSEndpoint/Payment_StandingInstruction_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader StandingInstructionList"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader StandingInstructionID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Payment_StandingInstruction_Deactivate">
            <soap:operation style="rpc" soapAction="/Payment_StandingInstruction_Service.serviceagent/Payment_StandingInstruction_JMSEndpoint/Payment_StandingInstruction_Deactivate"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader StandingInstructionID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Payment_StandingInstructionList_Read">
            <soap:operation style="rpc" soapAction="/Payment_StandingInstruction_Service.serviceagent/Payment_StandingInstruction_JMSEndpoint/Payment_StandingInstructionList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader StandingInstructionList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Payment_StandingInstruction_Read">
            <soap:operation style="rpc" soapAction="/Payment_StandingInstruction_Service.serviceagent/Payment_StandingInstruction_JMSEndpoint/Payment_StandingInstruction_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader StandingInstructionID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader StandingInstructionList"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Payment_StandingInstruction_HTTPEndpointBinding" type="tns:Payment_StandingInstruction">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Payment_StandingInstruction_Update">
            <soap:operation style="rpc" soapAction="/Payment_StandingInstruction_Service.serviceagent/Payment_StandingInstruction_HTTPEndpoint/Payment_StandingInstruction_Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader StandingInstructionID Amount IsRecurring Weekly_Monthly NextDateTime Memo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Payment_StandingInstruction_Create">
            <soap:operation style="rpc" soapAction="/Payment_StandingInstruction_Service.serviceagent/Payment_StandingInstruction_HTTPEndpoint/Payment_StandingInstruction_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader StandingInstructionList"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader StandingInstructionID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Payment_StandingInstruction_Deactivate">
            <soap:operation style="rpc" soapAction="/Payment_StandingInstruction_Service.serviceagent/Payment_StandingInstruction_HTTPEndpoint/Payment_StandingInstruction_Deactivate"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader StandingInstructionID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Payment_StandingInstructionList_Read">
            <soap:operation style="rpc" soapAction="/Payment_StandingInstruction_Service.serviceagent/Payment_StandingInstruction_HTTPEndpoint/Payment_StandingInstructionList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader StandingInstructionList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Payment_StandingInstruction_Read">
            <soap:operation style="rpc" soapAction="/Payment_StandingInstruction_Service.serviceagent/Payment_StandingInstruction_HTTPEndpoint/Payment_StandingInstruction_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader StandingInstructionID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader StandingInstructionList"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Payment_StandingInstruction_Update-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="StandingInstructionID" type="xs:string"/>
        <wsdl:part name="Amount" type="xs:string"/>
        <wsdl:part name="IsRecurring" type="xs:boolean"/>
        <wsdl:part name="Weekly_Monthly" type="xs:string"/>
        <wsdl:part name="NextDateTime" type="xs:string"/>
        <wsdl:part name="Memo" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Payment_StandingInstruction_Update-Output">
        <wsdl:part name="ServiceRespHeader" element="ns1:ServiceRespHeader"/>
    </wsdl:message>
    <wsdl:message name="Payment_StandingInstruction_Create-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="StandingInstructionList" type="ns2:StandingInstructionList"/>
    </wsdl:message>
    <wsdl:message name="Payment_StandingInstruction_Create-Output">
        <wsdl:part name="ServiceRespHeader" element="ns1:ServiceRespHeader"/>
        <wsdl:part name="StandingInstructionID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Payment_StandingInstruction_Deactivate-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="StandingInstructionID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Payment_StandingInstruction_Deactivate-Output">
        <wsdl:part name="ServiceRespHeader" element="ns1:ServiceRespHeader"/>
    </wsdl:message>
    <wsdl:message name="Payment_StandingInstructionList_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CustomerID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Payment_StandingInstructionList_Read-Output">
        <wsdl:part name="ServiceRespHeader" element="ns1:ServiceRespHeader"/>
        <wsdl:part name="StandingInstructionList" type="ns2:StandingInstructionList"/>
    </wsdl:message>
    <wsdl:message name="Payment_StandingInstruction_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="StandingInstructionID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Payment_StandingInstruction_Read-Output">
        <wsdl:part name="ServiceRespHeader" element="ns1:ServiceRespHeader"/>
        <wsdl:part name="StandingInstructionList" type="ns2:StandingInstructionList"/>
    </wsdl:message>
</wsdl:definitions>