SMUtBank_IBS/WebContent/WEB-INF/classes/wsdl/Payment_DirectDebitAuthorization.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://www.tibco.com/schemas/Payment_DirectDebitAuthorization/Schemas/AuthorizationList.xsd" xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:tns="http://xmlns.example.com/1359529805745" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1359529805745">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Payment_DirectDebitAuthorization/Schemas/AuthorizationList.xsd" targetNamespace="http://www.tibco.com/schemas/Payment_DirectDebitAuthorization/Schemas/AuthorizationList.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="AuthorizationList">
                <xs:sequence>
                    <xs:element name="Authorization" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="ns2:DirectDebitAuthorizationID"/>
                                <xs:element ref="ns2:CustomerID"/>
                                <xs:element ref="ns2:CustomerAccountID"/>
                                <xs:element ref="ns2:BillingOrgID"/>
                                <xs:element ref="ns2:BillingOrgAccountID"/>
                                <xs:element ref="ns2:CreationDate"/>
                                <xs:element ref="ns2:CustomerBankCode"/>
                                <xs:element ref="ns2:BillingOrgBankCode"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="BillingOrgAccountID" type="xs:string"/>
            <xs:element name="BillingOrgBankCode" type="xs:string"/>
            <xs:element name="BillingOrgID" type="xs:string"/>
            <xs:element name="CreationDate" type="xs:string"/>
            <xs:element name="CustomerAccountID" type="xs:string"/>
            <xs:element name="CustomerBankCode" type="xs:string"/>
            <xs:element name="CustomerID" type="xs:string"/>
            <xs:element name="DirectDebitAuthorizationID" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Payment_DirectDebitAuthorization">
        <wsdl:port name="Payment_DirectDebitAuthorization_HTTPEndpoint" binding="tns:Payment_DirectDebitAuthorization_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Payment_DirectDebitAuthorization.serviceagent/Payment_DirectDebitAuthorization_HTTPEndpoint"/>
        </wsdl:port>
        <wsdl:port name="Payment_DirectDebitAuthorization_JMSEndpoint" binding="tns:Payment_DirectDebitAuthorization_JMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">payment.endpoint</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Payment_DirectDebitAuthorization">
        <wsdl:operation name="Payment_DirectDebitAuthorizationList_Read">
            <wsdl:input message="tns:ReadService-Input"/>
            <wsdl:output message="tns:ReadService-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Payment_DirectDebitAuthorization_Create">
            <wsdl:input message="tns:CreateService-Input"/>
            <wsdl:output message="tns:CreateService-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Payment_DirectDebitAuthorization_Delete">
            <wsdl:input message="tns:DeleteService-Input"/>
            <wsdl:output message="tns:DeleteService-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Payment_DirectDebitAuthorization_HTTPEndpointBinding" type="tns:Payment_DirectDebitAuthorization">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Payment_DirectDebitAuthorizationList_Read">
            <soap:operation style="rpc" soapAction="/Payment_DirectDebitAuthorization.serviceagent/Payment_DirectDebitAuthorization_HTTPEndpoint/Payment_DirectDebitAuthorizationList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader AuthorizationList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Payment_DirectDebitAuthorization_Create">
            <soap:operation style="rpc" soapAction="/Payment_DirectDebitAuthorization.serviceagent/Payment_DirectDebitAuthorization_HTTPEndpoint/Payment_DirectDebitAuthorization_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader Authorization"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader DirectDebitAuthorizationID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Payment_DirectDebitAuthorization_Delete">
            <soap:operation style="rpc" soapAction="/Payment_DirectDebitAuthorization.serviceagent/Payment_DirectDebitAuthorization_HTTPEndpoint/Payment_DirectDebitAuthorization_Delete"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader DirectDebitAuthorizationID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Payment_DirectDebitAuthorization_JMSEndpointBinding" type="tns:Payment_DirectDebitAuthorization">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Payment_DirectDebitAuthorizationList_Read">
            <soap:operation style="rpc" soapAction="/Payment_DirectDebitAuthorization.serviceagent/Payment_DirectDebitAuthorization_JMSEndpoint/Payment_DirectDebitAuthorizationList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader CustomerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader AuthorizationList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Payment_DirectDebitAuthorization_Create">
            <soap:operation style="rpc" soapAction="/Payment_DirectDebitAuthorization.serviceagent/Payment_DirectDebitAuthorization_JMSEndpoint/Payment_DirectDebitAuthorization_Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader Authorization"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader DirectDebitAuthorizationID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Payment_DirectDebitAuthorization_Delete">
            <soap:operation style="rpc" soapAction="/Payment_DirectDebitAuthorization.serviceagent/Payment_DirectDebitAuthorization_JMSEndpoint/Payment_DirectDebitAuthorization_Delete"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader DirectDebitAuthorizationID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ReadService-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="CustomerID" type="xs:int"/>
    </wsdl:message>
    <wsdl:message name="ReadService-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="AuthorizationList" type="ns2:AuthorizationList"/>
    </wsdl:message>
    <wsdl:message name="CreateService-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="Authorization" type="ns2:AuthorizationList"/>
    </wsdl:message>
    <wsdl:message name="CreateService-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="DirectDebitAuthorizationID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="DeleteService-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="DirectDebitAuthorizationID" type="xs:int"/>
    </wsdl:message>
    <wsdl:message name="DeleteService-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
    </wsdl:message>
</wsdl:definitions>