SMUtBank_IBS/WebContent/WEB-INF/classes/wsdl/Product_LoanCalculate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:ns1="http://smubank.smu.edu.sg/schemas/LoanCalculate" xmlns:tns="http://smubank.smu.edu.sg/Product/LoanCalculate" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/Product/LoanCalculate">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns2:GlobalErrorID"/>
                    <xs:element ref="ns2:ErrorText"/>
                    <xs:element ref="ns2:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/LoanCalculate" targetNamespace="http://smubank.smu.edu.sg/schemas/LoanCalculate" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="LoanCalculateFullRepayment_Request">
                <xs:sequence>
                    <xs:element ref="ns1:AccountID"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoanCalculateFullRepayment_Response">
                <xs:sequence>
                    <xs:element ref="ns1:PenaltyRate"/>
                    <xs:element ref="ns1:PenaltyAmount"/>
                    <xs:element ref="ns1:RepaymentAmountAfterPenalty"/>
                    <xs:element ref="ns1:SettlementAccountID"/>
                    <xs:element ref="ns1:SettlementAccountBalance"/>
                    <xs:element ref="ns1:Status"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoanCalculateInstallment_Request">
                <xs:sequence>
                    <xs:element ref="ns1:ProductID"/>
                    <xs:element ref="ns1:Principle"/>
                    <xs:element ref="ns1:NumberOfMonths"/>
                    <xs:element ref="ns1:AccountOpenDate"/>
                    <xs:element ref="ns1:BankID" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoanCalculateInstallment_Response">
                <xs:sequence>
                    <xs:element ref="ns1:MonthlyInstallment"/>
                    <xs:element ref="ns1:MaturityDate"/>
                    <xs:element ref="ns1:InterestRate"/>
                    <xs:element ref="ns1:Interest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoanCalculatePartialRepayment_Request">
                <xs:sequence>
                    <xs:element ref="ns1:AccountID"/>
                    <xs:element ref="ns1:RepaymentAmount"/>
                    <xs:element ref="ns1:KeepMaturityDate"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoanCalculatePartialRepayment_Response">
                <xs:sequence>
                    <xs:element ref="ns1:OldMonthlyInstallment"/>
                    <xs:element ref="ns1:NewMonthlyInstallment"/>
                    <xs:element ref="ns1:OldMaturityDate"/>
                    <xs:element ref="ns1:NewMaturityDate"/>
                    <xs:element ref="ns1:InterestRate"/>
                    <xs:element ref="ns1:PenaltyRate"/>
                    <xs:element ref="ns1:PenaltyAmount"/>
                    <xs:element ref="ns1:RepaymentAmountAfterPenalty"/>
                    <xs:element ref="ns1:NewLoanAmount"/>
                    <xs:element ref="ns1:NewInterest"/>
                    <xs:element ref="ns1:OldLoanTerm"/>
                    <xs:element ref="ns1:NewLoanTerm"/>
                    <xs:element ref="ns1:BalanceBeforeRepayment"/>
                    <xs:element ref="ns1:BalanceAfterRepayment"/>
                    <xs:element ref="ns1:NewMonthsRemaining"/>
                    <xs:element ref="ns1:SettlementAccountID"/>
                    <xs:element ref="ns1:SettlementAccountBalance"/>
                    <xs:element ref="ns1:Status"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AccountID" type="xs:string"/>
            <xs:element name="AccountOpenDate" type="xs:string"/>
            <xs:element name="BalanceAfterRepayment" type="xs:string"/>
            <xs:element name="BalanceBeforeRepayment" type="xs:string"/>
            <xs:element name="BankID" type="xs:string"/>
            <xs:element name="Interest" type="xs:string"/>
            <xs:element name="InterestRate" type="xs:string"/>
            <xs:element name="KeepMaturityDate" type="xs:boolean"/>
            <xs:element name="MaturityDate" type="xs:string"/>
            <xs:element name="MinOpeningBalance" type="xs:string"/>
            <xs:element name="MonthlyInstallment" type="xs:string"/>
            <xs:element name="NewInterest" type="xs:string"/>
            <xs:element name="NewLoanAmount" type="xs:string"/>
            <xs:element name="NewLoanTerm" type="xs:string"/>
            <xs:element name="NewMaturityDate" type="xs:string"/>
            <xs:element name="NewMonthlyInstallment" type="xs:string"/>
            <xs:element name="NewMonthsRemaining" type="xs:string"/>
            <xs:element name="NumberOfMonths" type="xs:string"/>
            <xs:element name="OldLoanAmount" type="xs:string"/>
            <xs:element name="OldLoanTerm" type="xs:string"/>
            <xs:element name="OldMaturityDate" type="xs:string"/>
            <xs:element name="OldMonthlyInstallment" type="xs:string"/>
            <xs:element name="PenaltyAmount" type="xs:string"/>
            <xs:element name="PenaltyRate" type="xs:string"/>
            <xs:element name="Principle" type="xs:string"/>
            <xs:element name="ProductID" type="xs:string"/>
            <xs:element name="RepaymentAmount" type="xs:string"/>
            <xs:element name="RepaymentAmountAfterPenalty" type="xs:string"/>
            <xs:element name="RepaymentDate" type="xs:string"/>
            <xs:element name="SettlementAccountBalance" type="xs:string"/>
            <xs:element name="SettlementAccountID" type="xs:string"/>
            <xs:element name="Status" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Product_LoanCalculate">
        <wsdl:port name="Product_LoanCalculate_JMSEndpoint" binding="tns:Product_LoanCalculate_JMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">product.endpoint</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="Product_LoanCalculate_HTTPEndpoint" binding="tns:Product_LoanCalculate_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Product_LoanCalculate.serviceagent/Product_LoanCalculate_HTTPEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Product_LoanCalculate">
        <wsdl:operation name="Product_LoanFullRepayment_Calculate">
            <wsdl:input message="tns:Product_LoanFullRepayment_Calculate-Input"/>
            <wsdl:output message="tns:Product_LoanFullRepayment_Calculate-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Product_LoanInstallment_Calculate">
            <wsdl:input message="tns:Product_LoanInstallment_Calculate-Input"/>
            <wsdl:output message="tns:Product_LoanInstallment_Calculate-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Test_Installment">
            <wsdl:input message="tns:TestInstallment-Input"/>
            <wsdl:output message="tns:TestInstallment-Output"/>
        </wsdl:operation>
        <wsdl:operation name="Product_LoanPartialRepayment_Calculate">
            <wsdl:input message="tns:Product_LoanPartialRepayment_Calculate-Input"/>
            <wsdl:output message="tns:Product_LoanPartialRepayment_Calculate-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Product_LoanCalculate_JMSEndpointBinding" type="tns:Product_LoanCalculate">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Product_LoanFullRepayment_Calculate">
            <soap:operation style="rpc" soapAction="/Product_LoanCalculate.serviceagent/Product_LoanCalculate_JMSEndpoint/Product_LoanFullRepayment_Calculate"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader FullRepaymentRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader FullRepaymentResponse"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Test_Installment">
            <soap:operation style="rpc" soapAction="/Product_LoanCalculate.serviceagent/Product_LoanCalculate_JMSEndpoint/Test_Installment"/>
            <wsdl:input>
                <soap:body use="literal" parts="AccountID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="InstallmentAmount oldBalance newBalance"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Product_LoanPartialRepayment_Calculate">
            <soap:operation style="rpc" soapAction="/Product_LoanCalculate.serviceagent/Product_LoanCalculate_JMSEndpoint/Product_LoanPartialRepayment_Calculate"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader PartialRepaymentRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader PartialRepaymentResponse"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Product_LoanInstallment_Calculate">
            <soap:operation style="rpc" soapAction="/Product_LoanCalculate.serviceagent/Product_LoanCalculate_JMSEndpoint/Product_LoanInstallment_Calculate_v2"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader InstallmentRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader InstallmentResponse"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Product_LoanCalculate_HTTPEndpointBinding" type="tns:Product_LoanCalculate">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Product_LoanFullRepayment_Calculate">
            <soap:operation style="rpc" soapAction="/Product_LoanCalculate.serviceagent/Product_LoanCalculate_HTTPEndpoint/Product_LoanFullRepayment_Calculate"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader FullRepaymentRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader FullRepaymentResponse"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Test_Installment">
            <soap:operation style="rpc" soapAction="/Product_LoanCalculate.serviceagent/Product_LoanCalculate_HTTPEndpoint/Test_Installment"/>
            <wsdl:input>
                <soap:body use="literal" parts="AccountID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="InstallmentAmount oldBalance newBalance"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Product_LoanPartialRepayment_Calculate">
            <soap:operation style="rpc" soapAction="/Product_LoanCalculate.serviceagent/Product_LoanCalculate_HTTPEndpoint/Product_LoanPartialRepayment_Calculate"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader PartialRepaymentRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader PartialRepaymentResponse"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Product_LoanInstallment_Calculate">
            <soap:operation style="rpc" soapAction="/Product_LoanCalculate.serviceagent/Product_LoanCalculate_HTTPEndpoint/Product_LoanInstallment_Calculate_v2"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader InstallmentRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader InstallmentResponse"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Product_LoanFullRepayment_Calculate-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="FullRepaymentRequest" type="ns1:LoanCalculateFullRepayment_Request"/>
    </wsdl:message>
    <wsdl:message name="Product_LoanFullRepayment_Calculate-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        <wsdl:part name="FullRepaymentResponse" type="ns1:LoanCalculateFullRepayment_Response"/>
    </wsdl:message>
    <wsdl:message name="Product_LoanInstallment_Calculate-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="InstallmentRequest" type="ns1:LoanCalculateInstallment_Request"/>
    </wsdl:message>
    <wsdl:message name="Product_LoanInstallment_Calculate-Output">
        <wsdl:part name="ServiceRespHeader" element="ns2:ServiceRespHeader"/>
        <wsdl:part name="InstallmentResponse" type="ns1:LoanCalculateInstallment_Response"/>
    </wsdl:message>
    <wsdl:message name="TestInstallment-Input">
        <wsdl:part name="AccountID" type="xs:int"/>
    </wsdl:message>
    <wsdl:message name="TestInstallment-Output">
        <wsdl:part name="InstallmentAmount" type="xs:string"/>
        <wsdl:part name="oldBalance" type="xs:string"/>
        <wsdl:part name="newBalance" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Product_LoanPartialRepayment_Calculate-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="PartialRepaymentRequest" type="ns1:LoanCalculatePartialRepayment_Request"/>
    </wsdl:message>
    <wsdl:message name="Product_LoanPartialRepayment_Calculate-Output">
        <wsdl:part name="ServiceRespHeader" type="ns2:ServiceRespHeader"/>
        <wsdl:part name="PartialRepaymentResponse" type="ns1:LoanCalculatePartialRepayment_Response"/>
    </wsdl:message>
</wsdl:definitions>