SMUtBank_IBS/WebContent/WEB-INF/classes/wsdl/ServiceMediation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseMessage/" xmlns:tns="http://smubank.smu.edu.sg/ServiceMediation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/SMRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/ServiceMediation">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/SMRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/SMRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:SMReqHeader"/>
                    <xs:element ref="tns:ServiceContent"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="SMReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="ServiceDomain" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="CacheEnabled" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceContent">
                <xs:sequence>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="SMReqHeader" type="tns:SMReqHeader"/>
            <xs:element name="ServiceContent" type="tns:ServiceContent"/>
        </xs:schema>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceResponseMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ServiceMediationService">
        <wsdl:port name="ServiceMediationJMSEndpoint" binding="tns:ServiceMediationJMSEndpointBinding">
            <soap1:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">sm.request</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="ServiceMediationHTTPEndpoint" binding="tns:ServiceMediationHTTPEndpointBinding">
            <soap1:address location="http://10.0.106.169:4567/ServiceMediation"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ServiceMediation">
        <wsdl:operation name="ServiceMediationOperation">
            <wsdl:input message="tns:ServiceMediationtInput"/>
            <wsdl:output message="tns:ServiceMediationtOutput"/>
            <wsdl:fault name="fault1" message="tns:ServiceMediationError"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServiceMediationJMSEndpointBinding" type="tns:ServiceMediation">
        <soap1:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="ServiceMediationOperation">
            <soap1:operation style="rpc" soapAction="/ServiceMediationService.serviceagent/ServiceMediationJMSEndpoint/ServiceMediationOperation" soapActionRequired="true"/>
            <wsdl:input>
                <soap1:body use="literal" parts="SMReqMessage"/>
            </wsdl:input>
            <wsdl:output>
                <soap1:body use="literal" parts="SMRespMessage"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap1:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceMediationHTTPEndpointBinding" type="tns:ServiceMediation">
        <soap1:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ServiceMediationOperation">
            <soap1:operation style="rpc" soapAction="/ServiceMediationService.serviceagent/ServiceMediationHTTPEndpoint/ServiceMediationOperation" soapActionRequired="true"/>
            <wsdl:input>
                <soap1:body use="literal" parts="SMReqMessage"/>
            </wsdl:input>
            <wsdl:output>
                <soap1:body use="literal" parts="SMRespMessage"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap1:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ServiceMediationtInput">
        <wsdl:part name="SMReqMessage" type="ns0:Content"/>
    </wsdl:message>
    <wsdl:message name="ServiceMediationtOutput">
        <wsdl:part name="SMRespMessage" type="ns1:Content"/>
    </wsdl:message>
    <wsdl:message name="ServiceMediationError">
        <wsdl:part name="ErrorMessage" type="xs:string"/>
    </wsdl:message>
</wsdl:definitions>