SMUtBank_IBS/WebContent/WEB-INF/classes/wsdl/Transaction_History_Read.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://com/bom" xmlns:ns1="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:tns="http://smubank.smu.edu.sg/Transaction/History_Read" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/Transaction/History_Read">
    <wsdl:types>
        <xs:schema xmlns:tns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
        <xsd:schema xmlns="http://com/bom" xmlns:ivt="http://com/bom" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/bom" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:annotation>
                <xsd:documentation>BOMORIGIN::platform:/resource/SMUBank/Business%20Objects/BusinessObjectModel.bom#_v7_LYHwDEeK8bLX5qfGGAg</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="Transaction_Details">
                <xsd:sequence>
                    <xsd:element name="transaction_Detail" type="ivt:Transaction_Details_Item" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Transaction_Details_Item">
                <xsd:sequence>
                    <xsd:element name="accountFrom" default="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="accountTo" default="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="transactionAmount">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="exchangeRate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="transactionDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="transactionType">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="interimBalance">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="accountTo_interimBalance">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="currency">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="quoteCurrency">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="transactionReferenceNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="transactionID" default="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="channelID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="paymentMode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="overrideFlag" default="false">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="narrative">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="transactionBranch">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="officerID">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="Transaction_History_Read_Service">
        <wsdl:port name="Transaction_History_Read_HTTPEndpoint" binding="tns:Transaction_History_Read_HTTPEndpointBinding">
            <soap:address location="http://localhost:9090/Transaction_History_Read_Service.serviceagent/Transaction_History_Read_HTTPEndpoint"/>
        </wsdl:port>
        <wsdl:port name="Transaction_History_Read_JMSEndpoint" binding="tns:Transaction_History_Read_JMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">transaction.endpoint</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Transaction_History_Read">
        <wsdl:operation name="Transaction_History_Read">
            <wsdl:input message="tns:Transaction_History_Read-Input"/>
            <wsdl:output message="tns:Transaction_History_Read-Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Transaction_History_Read_HTTPEndpointBinding" type="tns:Transaction_History_Read">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Transaction_History_Read">
            <soap:operation style="rpc" soapAction="/Transaction_History_Read_Service.serviceagent/Transaction_History_Read_HTTPEndpoint/Transaction_History_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader AccountNumber StartDate EndDate NumRecords NumPages"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader CDMTransactionDetail"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Transaction_History_Read_JMSEndpointBinding" type="tns:Transaction_History_Read">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Transaction_History_Read">
            <soap:operation style="rpc" soapAction="/Transaction_History_Read_Service.serviceagent/Transaction_History_Read_JMSEndpoint/Transaction_History_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader AccountNumber StartDate EndDate NumRecords NumPages"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader CDMTransactionDetail"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Transaction_History_Read-Input">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="AccountNumber" type="xs:string"/>
        <wsdl:part name="StartDate" type="xs:string"/>
        <wsdl:part name="EndDate" type="xs:string"/>
        <wsdl:part name="NumRecords" type="xs:int"/>
        <wsdl:part name="NumPages" type="xs:int"/>
    </wsdl:message>
    <wsdl:message name="Transaction_History_Read-Output">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="CDMTransactionDetail" type="ns2:Transaction_Details"/>
    </wsdl:message>
</wsdl:definitions>